<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="ibis">

  <xacro:arg name="link_prefix" default="" />

  <xacro:include filename="$(find ibis_description)/urdf/macros.xacro" />

  <xacro:ibis rockers_fixed="true"
    footprint_link="true"
    link_prefix="$(arg link_prefix)"
    joint_prefix="" />

</robot>