[Unit]
Description=Generate SSH host keys
Before=ssh.service
ConditionFileIsExecutable=/usr/bin/ssh-keygen

[Service]
Type=oneshot
ExecStart=ssh-keygen -A
ExecStart=systemctl -q disable ssh-generate-host-keys

[Install]
WantedBy=multi-user.target